$primary-color: #546d78;
$primary-color-light: #819ca9;
$primary-color-dark: #29434e;

$secondary-color: #7a6054;
$secondary-color-light: #aa8d80;
$secondary-color-dark: #4d362b;
$secondary-text-color: #ffffff;

$text-color: #ffffff;
$text-color-dark: #000000;

$text-opacity: 1;
$text-opacity-large: 0.59;
$text-opacity-light: 1;
$text-opacity-light-large: 0.51;
$text-opacity-dark: 0.56;
$text-opacity-dark-large: 0.39;

